/* ---------------------------*/
/* ----->>> =GLOBAL <<<-------*/
/* ---------------------------*/
body
{
  background-image: url("../img/sayagata-400px.png");
}
table.output
{
  padding: 25px;
  text-align: center;
  font-size: 1.1em;
  font-family: sans-serif;
  border-collapse: collapse;
  border-color: gray;
  background-color: white;
}
th {
    background-color: #4CAF50;
    color: white;
}
tr.outputrow:nth-child(even)
{
  background-color: #f2f2f2
}
td.loginBox
{
  color: white;
  font-family: sans-serif;
}
tr.outputrow:hover
{
  background-color: #929292
}

.logo
{
  position: absolute;
  top: 8%;
  left: 5%;
  width: 200px;
  height: 200px;
}
.logohorizontal
{
  position: absolute;
  top: 5px;
  left: 5%;
  width: 256px;
  height: 40px;
}
div.relative
{
  font-family:Arial;
  font-size:1em;
  position: absolute;
  top: 65px;
  right: 46%;
  align-self: center;
}
h1
{
  text-align:center;
  font-family:Arial;
  letter-spacing:2px;
}
h1.deny
{
  position: absolute;
  top: 250px;
}

h3
{
  font-family: sans-serif;
}

a,p
{
  font-family:Arial;
  font-size:1em;
  font-style:normal;
  font-weight:normal;
}


.button {
    background-color: #4CAF50;
    border: none;
    width: 150px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
    border: 2px solid #4CAF50;
}

.button:hover {
    background-color: white;
    color: black;
    border: 2px solid #4CAF50;

}

.button1
{
  border: 2px solid #008CBA;
  background-color: #008CBA;
  color: white;
}

.button1:hover
{
  background-color: white;
  border: 2px solid #008CBA;
  color: black;
}
form.info
{
  position: absolute;
  left: 40%;
  font-family: sans-serif;

}
