.h1index
{
  color: white;
  position: absolute;
  top: 0px;
  left: 30px;
  font-size: 2.5em;
}
.mySlides
{
  display: none;
}
.slideshow
{
  max-width: 100%;
  z-index: -1;
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
}
