table.navbar
{
  position: absolute;
  top: 0px;
  right: 10%;
  background-color: transparent;
}

div.navbg
{
  background-color: #C4C4C4;
  position: absolute;
  top: -2px;
  left: 0px;
  height: 50px;
  width: 100%;
}

#navbutton
{
  background-color: #4CAF50;
  border: none;
  width: 50px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  cursor: pointer;
  border: 2px solid #4CAF50;
  padding: 6px;
  border-radius: 10%;
}
#navbutton:hover {
    background-color: white;
    color: black;
    border: 2px solid #4CAF50;
}
